/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(222, 215, 215);
}

/* Book container styles */
.book-container {
  width: 90vw;
  max-width: 1123px;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

/* Book box styles */
.book-box {
  /* border: 2px solid black; */
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
  width: fit-content;
}

.book-box>img {
  height: 300px;
  width: 200px;
}

.book-box h2 {
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: fit-content;
  /* border: 2px solid green; */
}

.book-box h4 {
  letter-spacing: 2px;
}